
body, html {
  background-color: #D87D7E !important;
}

.color-primary{
  color: #1D1643 !important;
}

.color-white{
  color: #ffffff !important;
}

.btn-primary {
  color: #ffffff  !important;
  background-color: #1D1643 !important;
  border-color : #1D1643 !important;
}

.btn {
  border-radius: 30px !important;
}

h6 {
  display: inline-block;
  position: relative;
}
h6:after,
h6:before {
  content: "";
  position: absolute;
  height: 3px;
  width: 400%;
  top: 30%;
  right: 150%;
  background: #c4c4c4;
}
h6:after { left: 150%; }

select {
  border-radius: 4px !important;
}


body {
  margin: 2rem 0rem !important;
  
  label {
    color: $muted impor !important;
    display: block !important;
    margin-top: 2rem !important;
  }
}
